/* 
    Document   : CSS for e-learning
    Created on : 4-okt-2013, 12:46:40
    Author     : Asus
    Description:
        Purpose of the stylesheet follows.
*/

.dwelkom {
    background-color: #ea1927;
    height: 75px;
    width: 100%;
}

.dlogin {
    border: 1px solid black; 
    background-color: #ceceed;
    height: 500px;
    width: 49%;
    margin: 5px;
}
.texterea1 {
    background-color: #ffffff; 
    margin: 5px;
    width: 98%;
    height: 50px;
    float: right;
    margin-top: 10px;

}
.texterea2 {
    background-color: #ffffff; 
    margin: 5px;
    width: 98%;
    height: 50px;
    float: right;
    float: top;
    margin-top: 10px;
}
.texterea3{
	background-color: #ffffff;
	margin: 5px;
	width: 98%;
	height: 50px;
	float: right;
	float: top;
	margin-top: 10px;
}
.invoervak1 {
    background-color: #ffffff; 
    margin: 2px;
    width: 296px;
    height: 26px;
    float: right;
}
.invoervak2 {
    background-color: #ffffff; 
    margin: 2px;
    width: 296px;
    height: 26px;
}
.invoervak3{
	background-color: #ffffff;
	margin: 2px;
	width: 296px;
	height: 26px;
}
.username1 {
    background-color: #ffffff; 
    margin: 2px;
    width: 296px;
    height: 26px;
    float: top;
    margin-left: 10px;
}
.password1 {
    background-color: #ffffff; 
    margin: 2px;
    width: 296px;
    height: 26px;
    float: top;
    margin-left: 10px;
}
.e-mail1{
	background-color: #ffffff;
	margin: 2px;
	width: 296px;
	height: 26px;
	float: top;
	margin-left: 10px;
}
.data  {
    border: 1px solid black; 
    height: 500px;
    width: 49%;
    margin: 5px;
    float: right;
    float: top;
}
.dloguit {
    float: right;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    width: 125px;
    height: 30px;
}
.dloginbutton{
	display: inline-block;
	float: right;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	width: 100px;
	height: 20px;
}
.dregister{
	float: right;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	width: 100px;
	height: 20px;
}
.dafmelden{
    float: right;
    height: 30px;
    width: 125px;        
}
.dinloggen{
    float: right;
    height: 20px;
    width: 100px;
}
.dregistreren{
    float: right;
    height: 20px;
    width: 100px;
}
p2{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	height:30px;
}
	